.page-body {
    margin: 0 auto;
    max-width: 1280px;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    width: 334px;
    color: #000000;
}

.header-logo a {
    text-decoration: none;
}

.header-logo a:visited {
    color: #000000;
}

.text-color-logo {
    color: #4bcaff;
}

.header-nav {
    background-color: #35444f;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.header-nav-item {
    display: flex;
}

.header-nav-item :hover {
    background-color: #222f3a;
}

.header-nav-link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 24px 32px 18px 32px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.main-aside {
    width: 344px;
    height: 100%;
    border: 1px solid #000;
}

.main-aside-item {
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.main-aside-item:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

.main-aside-link {
    vertical-align: middle;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
    transition: padding-left 1s;
}

.main-aside-link:hover {
    padding-left: 26px;
    color: #000;
}

.main-article {
    display: flex;
    flex-direction: column;
}
.main-section {
    width: 885px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-img {
    border: 1px solid #000;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
}

.main-image {
    transition: transform 2s;
}

.main-image:hover {
    transform: scale(1.2);
}

.main-text {
    margin-top: 34px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
}

.footer {
    background-color: rgba(99, 105, 110, 0.48);
}

.nav-footer {
    margin: 54px 40px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-footer-list {
    padding: 22px 0;
    display: flex;
    align-items: center;
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.nav-footer-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    text-decoration: none;
}

.nav-footer-link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
}

.footer-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}
